name: Pipeline PR Estándar
on:
  workflow_call:
    # No necesitamos inputs, todo se lee del config.json del repo usuario

jobs:
  # STAGE 1: VALIDATION & CONFIG
  validation:
    runs-on: ubuntu-latest
    outputs:
      language: ${{ steps.validate.outputs.language }}
      java_version: ${{ steps.validate.outputs.java_version }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Validar Configuración
        id: validate
        uses: valentechy/GitHub-Actions-Gobernanza/actions/validate-config@main

  # STAGE 2: ENVIRONMENT PREPARATION
  env-prep:
    needs: validation
    runs-on: ubuntu-latest
    steps:
      - name: Environment Preparation
        if: ${{ needs.validation.outputs.language == 'java' }}
        uses: valentechy/GitHub-Actions-Gobernanza/actions/environment-preparation@main

  # STAGE 3: COMPILATION (MODULAR)
  build:
    needs: [validation, env-prep]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # ESTRATEGIA JAVA
      - name: Build Java
        if: ${{ needs.validation.outputs.language == 'java' }}
        uses: valentechy/GitHub-Actions-Gobernanza/actions/build-java@main
        with:
          version: ${{ needs.validation.outputs.version }}

      # ESTRATEGIA .NET
      - name: Build .NET
        if: ${{ needs.validation.outputs.language == 'dotnet' }}
        uses: valentechy/GitHub-Actions-Gobernanza/actions/build-dotnet@main
        with:
          version: ${{ needs.validation.outputs.version }}

      # ESTRATEGIA GO
      - name: Build Go
        if: ${{ needs.validation.outputs.language == 'go' }}
        uses: valentechy/GitHub-Actions-Gobernanza/actions/build-go@main
        with:
          version: ${{ needs.validation.outputs.version }}

      # Aquí añadirías el bloque para .NET en el futuro
      - name: Build .NET Strategy
        if: ${{ needs.validation.outputs.language == 'dotnet' }}
        run: echo "Aquí iría la action de .NET"

  # STAGE 4: SECURITY
  security:
    needs: build # Opcional: puedes ponerlo en paralelo quitando el needs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Ejecutar Suite de Seguridad
        uses: valentechy/GitHub-Actions-Gobernanza/actions/security-suite@main
